.buttonSteam{
    background-color: transparent;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
}

.buttonSteam:hover{
    outline: none;
}

.buttonSteam:focus{
    outline: none;
}

.imgSteam{
    height: 30px;
}