body{
    margin: 0 auto;
    background: linear-gradient(135deg, #1a0033, #4b0082, #8a2be2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.app-link {
    margin: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
}

#contenidor-general{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}