.contenidor-general-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  padding: 0 20px;
}

.title-register {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #9b93ff;
  letter-spacing: 1px;
  text-align: center;
}

.title-register img {
  height: 32px;
}

.text-register {
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0px 0px 15px;
  font-size: 14px;
  opacity: 0.9;
}

#main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formulari {
  display: flex;
  flex-direction: column;
  gap: 18px;

  width: 100%;
  max-width: 380px;

  padding: 30px 40px;
  border-radius: 16px;

  background-color: rgba(0, 0, 0, 0.35);

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.celda {
  width: 100%;
  padding: 8px 12px;
  background-color: #334155;
  border-radius: 7px;
  color: white;
  border: 2px solid #3F4D61;
  box-sizing: border-box;
  margin-top: 4px;
  font-size: 14px;
}

.celda:focus {
  outline: none;
  border: 2px solid #9333EA;
}

.celdaIncorrecte {
  border: 2px solid red !important;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 35px;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

#botons {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.button-register {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 130px;
  height: 38px;

  border-radius: 6px;
  border: none;
  text-decoration: none;

  color: white;
  font-weight: 600;
  font-size: 13px;

  cursor: pointer;
  background-color: #2b2b2b;
  transition: 0.2s ease;
}

.button-register:hover {
  background-color: #9333EA;
  color: white;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

.alert-container {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    width: 82.2%;
}